.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 0;
}
body {
  padding-top: 0px;
  margin-top: 0px;
  position: static;
}
div#twit-stream p {
	padding: 10px;
	margin: 10px 0;
}
div#twit-stream img {
	display: inline-block;
	float: left;
}
div#twit-stream .msg-block {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
    display: block;
    margin-left: 60px;
    padding: 10px;
    position: relative;
}
div#twit-stream .msg {
	display: block;
	margin-top: 10px;
}
div#twit-stream .msg-block:before {
	border-right: 7px solid rgba(0,0,0,0.1);
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	content: "";
	display: inline-block;
	left: -7px;
	position: absolute;
	top: 11px;
}
div#twit-stream .msg-block:after {
	border-right: 6px solid #ffffff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	display: inline-block;
	left: -6px;
	position: absolute;
	top: 12px;
}
div.wordcloud {
	min-height: 450px;
    height: auto;
}
svg.wordcloud {
	width: 450px;
	height: 450px;
	display: block;
	margin: auto;
}
div#timeseries svg {
	height: 600px;
}
