<div id="content">
	<div id="content-header">
		<h1>Intel Hadoop demo</h1>
	</div>
	<div id="breadcrumb">
		<a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		<a href="/dashboard" class="current">Intel Hadoop demo</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<div class="widget-box">
					<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>PAP Wordcloud</h5><div class="buttons"><a href="#" class="btn btn-mini update_wordcloud_btn" id="update_pap_btn">Refresh</a></div></div>
					<div class="widget-content">
						<div class="wordcloud" id="pap_div">
							<svg class="wordcloud" id="wordcloud_pap"></svg></div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="widget-box">
					<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>RP Wordcloud</h5><div class="buttons"><a href="#" class="btn btn-mini update_wordcloud_btn" id="update_rp_btn">Refresh</a></div></div>
					<div class="widget-content">
						<div class="wordcloud" id="rp_div">
							<svg class="wordcloud" id="wordcloud_rp"></svg></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="widget-box">
					<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>SDA Wordcloud</h5><div class="buttons"><a href="#" class="btn btn-mini update_wordcloud_btn" id="update_sda_btn">Refresh</a></div></div>
					<div class="widget-content">
						<div class="wordcloud" id="sda_div">
							<svg class="wordcloud" id="wordcloud_sda"></svg></div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="widget-box">
					<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>WP Wordcloud</h5><div class="buttons"><a href="#" class="btn btn-mini update_wordcloud_btn" id="update_wp_btn">Refresh</a></div></div>
					<div class="widget-content">
						<div class="wordcloud" id="wp_div">
							<svg class="wordcloud" id="wordcloud_wp"></svg></div>
					</div>
				</div>
			</div>
		</div>
        <div class="row-fluid">
			<div class="widget-box">
				<div class="widget-title"><span class="icon"><i
                            class="icon-signal"></i></span><h5>Sentiment graph</h5><div class="buttons"><a href="#" class="btn btn-mini" id="update_timeseries">Refresh</a></div></div>
				<div class="widget-content">
					<div class="row-fluid">
						<div id="timeseries"><svg></svg></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="widget-box">
				<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Tweet stream</h5></div>
				<div class="widget-content">
					<div class="row-fluid">
						<div class="span12" id="twit-stream"></div>
					</div>
				</div>
			</div>
		</div>

		{% block footer_base %}
		{% include "_footer.html" %}
		{% endblock %}
	</div>
</div>
