{% macro active_sidebar(active_page='') -%}
<div id="sidebar">
    <ul>
		<li class="dashboard {% if 'dashboard' == active_page %}active{% endif %}"><a href="dashboard.html"><i class="icon icon-home"></i><span>Dashboard</span></a></li>
        <li class="graphs {% if 'graphs' == active_page %}active{% endif %}"><a href="graph.html"><i class="icon icon-signal"></i><span>Social media graphs</span></a></li>
    </ul>
</div>
{%- endmacro %}
