<div id="header">
    <h1><a href="dashboard">Intel Hadoop Demo</a></h1>
</div>
<div id="user-nav" class="navbar navbar-inverse">
	<div class="container">
		<div class="nav-collapse">
		</div>
	</div>
</div>
