<!DOCTYPE html>
<html>
	{% block head_base %}
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% block style_base %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/unicorn.main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/unicorn.grey.css') }}" class="skin-color" />
		{% endblock %}
	</head>
	{% endblock %}
	<body>
		{% block body_base %}
		{% include "_topbar.html" %}
		{% from "_sidebar.html" import active_sidebar as sidebar %}
		{{ sidebar(active_page) }} {# active_page should be set in each page that extends from base.html #}
		{% endblock %}

		{% block body_content %}
		{% endblock %}

		{% block script_base %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		{% endblock %}

		{% block script_extra %}
		{% endblock %}
	</body>
</html>
