{% set active_page = "dashboard" %}
{% extends "base.html" %}

<!--<script type="text/javascript">-->
	<!--$(function() {-->
			<!--$("#get-btn").click(function() {-->
				<!--$.getJSON("/message", {}, function(data) {-->
					<!--$("#message").text(data.message);-->
					<!--});-->
				<!--});-->
			<!--});-->
<!--</script>-->

{% block body_content %}
{% include "_dashboard.html" %}
{% endblock %}

{% block script_extra %}
<script src="{{ url_for('static', filename='js/d3.v2.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
<script src="{{ url_for('static', filename='js/wordcloud.js') }}"></script>
<script src="{{ url_for('static', filename='js/twit_stream.js') }}"></script>
<script src="{{ url_for('static', filename='js/nv.d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/time_series.js') }}"></script>
{% endblock %}

